.classpath
.project
.settings/

*.class

bin/
target/
build/
out/

*.jar

*.log

.DS_Store
Thumbs.db

.idea/
*.iml

.vscode/

server/
plugins/
world/
world_nether/
world_the_end/

logs/
cache/
crash-reports/